@import "node_modules/normalize.less/normalize.less";
@import "variables";
@import "mixins";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    font-family: @fontFamily;
    background-color: @mainBgColor;
    width: 100%;
    min-height: 100vh;
    .displayFlex(column, space-between);
}

.main {
    flex-grow: 1;
}

.container {
    max-width: @containerMaxWidth;
    margin: 0 auto;
    padding: 0 @containerSidePadding;
        .displayFlex(row, space-between);
}

.add-tasks {
    margin: 0 0 108px 0;
    &__block {
        width: 88.38%;
        height: 90px;
        min-width: 300px;
        background-color: rgba(229,229,229);
        border-radius: 10px;
        padding: 15px;
    }
    &__input {
        width: 100%;
        outline: none;
        border: none;
        height: 100%;
        border-radius: 10px;
        font-size: @fontSizeString;
        color: @fontColorPrimary;
        padding: 18px 24px;
    }
    &__btn {
        width: 95px;
        height: 90px;
        background-color: @colorBtnAdd;
        box-shadow: @baseBoxShadow;
        border-radius: 50px;
        position: relative;
        cursor: pointer;
        transition: all 70ms linear;
        &:hover {
            background-color: @colorBtnAddHover;
        }
        &::before, &::after {
            content: "";
            position: absolute;
            width: 35px;
            height: 2px;
            background-color: @colorCrossIcon;
            top: 44px;
            left: 30px;
        }
        &::after {
            transform: rotate(90deg);
        }
    }
}

.list {
    .resetListStyle;
    width: 100%;
    &__item {
        background-color: @fontColorFourthly;
        text-align: center;
        font-size: @fontSizeString;
        font-weight: 400;
        line-height: 71px;
        letter-spacing: 0em;
        align-items: center;
        .displayFlex(row, space-between);
        padding: 17px 33px 14px 39px;
        height: 90px;
        margin-bottom: 3px;
        box-shadow: @baseBoxShadow;
        border-radius: 10px;
        transition: all 70ms linear;
        align-items: center;
        &_done {
            background-color: @colorTaskChecked;
            .displayFlex(row, space-between);
            .task__text {
                text-decoration: line-through;
            }
        }
    }
}

.task {
    &__text {
        width: 80.8%;
        background-color: transparent;
        border: none;
        text-align: left;
        color: @colorTask;
        &:focus {
            padding: 16px 0 17px 29px;
            height: 100%;
            border-radius: 10px;
            outline: none;
            background-color: @colorTaskEdit;
            text-decoration: none;
        }
        &:active {
            text-decoration: none;
        }
    }
    &__checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:checked + .label__mark{
            background-color: @colorCheckboxChecked;
            opacity: 1;
            transition: all 70ms linear;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 4px;
                width: 100%;
                height: 100%;
                background: url('../img/bird.png') 50% no-repeat;
                transition: all 70ms linear;
            }
        }
        &:active  + .label__mark{
            opacity: 0.7;
        }
    }
}

.label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    position: relative;
    cursor: pointer;
    &__mark {
        width: 30px;
        height: 30px;
        position: absolute;
        background-color: @colorCheckbox;
        box-shadow: 0px 4px 4px @baseBoxShadow;
        border-radius: 5px;
    }
}

.btn-delete {
    width: 25px;
    height: 30px;
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    transition: all 70ms linear;
    &:active, &:focus {
        outline: none;
    }
    &:hover {
        background-color: transparent;
    }
    &::before, &::after {
        content: "";
        position: absolute;
        width: 35px;
        height: 2px;
        left: 0;
        background-color: @colorBtnDelete;
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(45deg);
    }
    &::before {
        transform: rotate(135deg);
    }
    &:active, &:focus {
        outline: none;
    }
}

.blank {
    margin: 0 auto;
    font-size: @fontSizeBlank;
    color: @fontColorThirdly;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
}

@import "header";
@import "footer";