@import "node_modules/normalize.less/normalize.less";
@import "variables";
@import "mixins";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    font-family: @fontFamily;
    background-color: @mainBgColor;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    .displayFlex(column, space-between);
}

.main {
    flex-grow: 1;
}

.container {
    max-width: @containerMaxWidth;
    margin: 0 auto;
    padding: 0 @containerSidePadding;
        .displayFlex(row, space-between);
}

.add-tasks {
    margin: 0 0 108px 0;
    &__block {
        width: 88.38%;
        height: 90px;
        min-width: 300px;
        background-color: rgba(229,229,229);
        border-radius: 10px;
        padding: 15px;
    }
    &__input {
        width: 100%;
        outline: none;
        border: none;
        height: 100%;
        border-radius: 10px;
        font-size: @fontSizeString;
        color: @fontColorPrimary;
        padding: 18px 24px;
    }
    &__btn {
        width: 95px;
        height: 90px;
        background-color: @colorBtnAdd;
        box-shadow: @baseBoxShadow;
        border-radius: 50px;
        position: relative;
        cursor: pointer;
        transition: all 70ms linear;
        &:hover {
            background-color: @colorBtnAddHover;
        }
        &::before, &::after {
            content: "";
            position: absolute;
            width: 35px;
            height: 2px;
            background-color: @colorCrossIcon;
            top: 44px;
            left: 30px;
        }
        &::after {
            transform: rotate(90deg);
        }
    }
}

.list {
    .resetListStyle;
    width: 100%;
    &__item {
        background-color: @fontColorFourthly;
        text-align: center;
        font-size: @fontSizeString;
        font-weight: 400;
        line-height: 71px;
        letter-spacing: 0em;
        .displayFlex(row, space-between);
        padding: 29px 42px;
        margin-bottom: 3px;
        box-shadow: @baseBoxShadow;
        border-radius: 10px;
        transition: all 70ms linear;
        &_done {
            background-color: @colorTaskChecked;
            text-align: center;
            font-size: @fontSizeString;
            font-weight: 400;
            line-height: 71px;
            letter-spacing: 0em;
            .displayFlex(row, space-between);
            padding: 29px 42px;
            margin-bottom: 3px;
            box-shadow: @baseBoxShadow;
            border-radius: 10px;
            transition: all 70ms linear;
        }
    }
}
/*
.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox {
    display: inline-flex;
    align-items: center;
    user-select: none;
        &::before {
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid black;
            border-radius: 0.25em;
            margin-right: 0.5em;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
            background-color: red;
        }
}
*/
.task {
    &-done {
        background-color: transparent;
        border: none;
        text-decoration: line-through;
    }
    &-edit {
        width: 100%;
        outline: none;
        border: none;
        height: 100%;
        border-radius: 10px;
        font-size: @fontSizeString;
        color: @colorTask;
        padding: 14px 16px;
    }
    &-text {
        background-color: transparent;
        border: none;
    }
}

.btn-delete {
    width: 25px;
    height: 30px;
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    transition: all 70ms linear;
    &:hover {
        background-color: transparent;
    }
    &::before, &::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: @colorBtnDelete;
        top: 44px;
        left: 30px;
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(45deg);
    }
    &::before {
        transform: rotate(135deg);
    }
}



@import "header";
@import "footer";