@font: 'Roboto', sans-serif;
@base-font-size: 20px;
@font-size-h1: @base-font-size * 3.05;
@font-size-string: @base-font-size * 1.2;
@font-size-blank: @base-font-size * 1.5;
@font-size-btn: @base-font-size;
@font-color-primary: #3E4C39;
@font-color-secondary: #000000;
@font-color-thirdly: #C4C4C4;
@font-color-fourthly: #F4F1F9;

@bg-color: #ffffff;
@color-btn-add: #186F53;
@color-btn-clear: #B06757;
/*
@base-spacing: 8px;
*/



body {
    font-family: @font;
    background-color: @bg-color;
    margin: 0;
    padding: 0;
}

@import "header";

